.heading{
  color: #fff; 
  font-family: 'Rouge Script', cursive; 
  font-size: 100px; 
  font-weight: bolder; 
  line-height: 38px; 
  /* margin: 5 0 50px;  */
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34;
}

html, body {
  background: #000 url(img/bg.jpg) repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.search-form{
  min-width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;

}

.search-button{
  padding: 10px 20px;
  font-weight: bold; 
  background-color: #fff;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards {
  padding-top: 40px;
  padding-right: 60px;
  padding-left: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 420px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 95%;
  height: 420px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  /* padding: 10px; */
  transform: rotateY(180deg);
}

.card li {
  list-style: circle;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
