.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.search-form{
  min-width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  margin-top: 25px;
  width: 50%;
  border: none;
  padding: 10px;

}

.search-button{
  margin-top: 25px;
  background: lightsalmon;
  padding: 10px 20px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
